<div class ="comment_panel">
  <% if voucher.comments.exists? %>
    <div class ="comments">
      <h6> Comments </h6>
      <% voucher.comments.each do |comment| %>
        <div class = "commentator">
          <%= simple_format(comment.description) %>
          <div class ="commentator_name">
            <div>
              <%= comment.user.first_name %>
            </div>
              <%= comment.updated_at.localtime.to_s(:short_ordinal)%>

          </div>
        </div>
      <% end %>
      <% #FIXME_AB: You should pass user object to assignee? method below -%>
      <% if voucher.assignee?(current_user.id) && voucher.can_be_commented? %>
        <%= render :partial => 'comments/form' %>
      <%end%>
    </div>
  <%end%>
</div>