<div class ="comment_panel">
  <div class ="comments">
    <%if voucher.drafted? || @voucher.comments.exists? %>
      <h6> Comments </h6>  
    <%end%>
    <% voucher.comments.each do |comment| %>
      <div class = "commentator">
        <%= simple_format(comment.description) %>
        <div class ="commentator_name">
          <%= comment.user.first_name  + " ,"%>
          <%= comment.updated_at.in_time_zone("New Delhi").to_s(:short_ordinal)%>
        </div>
      </div>
    <% end %>
    <% if voucher.assignee?(current_user) %>
      <%= render :partial => 'comments/form' %>
    <%end%>
  </div>
</div>