// #FIXME_AB: Please update this as per other comments in the project
$('#notifications_icon').one('click',function(e) {
  e.preventDefault();
  $('#result').show();
});
$('body').bind('click keyup', function(event){
  $('#result').hide(); 
});
//.notifications_link,.notifications_link img
function notifications_view() {
  $('.notifications').bind('click keyup', function(event) {
    var activity_id = $(this).find('a.activity').text();
    var url = $(this).find('a.voucher').text();
    $.ajax({
      url:'/notifications/seen',
      data:{ activity_id: activity_id , voucher_id: url },
      type:'get',
      success: function(responseData) {
        window.location.href = responseData;
      }
    });      
  });
}
<% if !(@notifications.empty?) %>
  $('.notifications_output').html('').append('<div id="result"></div>');
  <% @notifications.each do |notification| %>
    <%notification.visited=true%>
    <%notification.save!%>
    <% notification_output = render_activity(notification) %>
    <% if notification_output != ''%>
      <% if !(notification.seen)%>
        $('#result').append('<div class= "notifications" id="<%=notification.id%>"><%= escape_javascript notification_output%></div>');
      <%else%>
        $('#result').append('<div class= "notifications seen_notifications" id="<%=notification.id%>"><%= escape_javascript notification_output%></div>');
      <%end%>
    <% end %>
  <%end%> 
  $('.notifications_output').siblings('.notifications_link').remove();
  notifications_view();
<%end%>


  