
<div id="container">
  <div id="formContainer">
    <% if (flash[:notice]) %>
      <div id="flashContainer">
        <%= flash[:notice] %>
        <% flash[:notice] = nil %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>  
  </div>
</div>
