// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_vouchers th {
  font-size:14px !important;
}
.account_vouchers td{
  font-size: 12px !important;
}
.associated_vouchers{
  margin-top: 10px;
  padding-top: 20px;
}
.account_name{
padding-top:20px;
padding-left:20px;
font-size:20px;
margin-bottom:10px;
}
#account{
margin-top:8px;
float:right;
margin-bottom:-17px;
}
