/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all 
 *= require_self
 *= require_tree 
 .
 */
 img.gear
 {position:relative;
 top:-20px;
  height: 25px;
  width: 25px;
 }
 .voucher{
font-size: 15px;
 width :30px;
 background-color:none; }
#columns {
  position:absolute;
  top:100px;
  background: #6b8fb2;
  #side {
    float: left;
    padding: 1em 2em;
    width: 11em;
    background: #6b8fb2;

/* START_HIGHLIGHT */
  

    

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #0000cc;
          font-size:16px;;
          font-style:italic;
          
        }
      }
    }
  }
}
#pending li{
list-style:none;
width:150px;
background-color:#f5f5f5;
text-align:center;
border:solid 1px black;
}
.date-field{
  background-image:url( 'calendar.jpeg');
  background-repeat:no-repeat;
  background-position: right;
  background-size: 12%;
}


.alignment{
position: absolute;
right: -400px;
width: 600px;
top:130px;
float:right;
}
.align {
background-color:#f5f5f5;
margin:0 auto;
width:500px;
}
.account_align {
margin:0 auto;
width:500px;
background-color: #f5f5f5
}
form {

label {
width: 3em;
text-align: center;
/*float: left;*/
/*text-align: right;*/
padding-top: 0.2em;

display: block;
}
select, textarea, input {
margin-left: 0.5em;
}
.submit {

}
br {
display: none
}
}
#notifications {
position: absolute;
left:910px;
top:18px;


}
#result{
border:solid 1px black;
border-top:none;
background-color: #d5d5d5;}
.notifications{
width:auto;
height:30px;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px;
border-top: dotted 1px black;}
.number_of_notifications{
  display: inline-block;
font-size:27px;
color:red;
position: relative;
left:-18px;
bottom: 5px;
font-weight: bold;
}