
@media print {

  .company_tag {
    color:black !important;
  }
  
  .onprint {
    display:none !important;
  }
  .alert, .fade, .in,.alert-success {
  display:none;
  }
  a[href]:after {
   display:none;
  }

  .voucher_display {
    .labels {
      font-size:17px !important;
    }

  }

  .debited_credited_vouchers {
    td {
      font-size:16 !important;

    }

  }

} 