
@media print {

  .company_tag {
    color:black !important;
  }
  
  .onprint {
    display:none !important;
  }
  .alert, .fade, .in,.alert-success {
  display:none;
  }
  a[href]:after {
   display:none;
  }

} 