 //Place all the styles related to the vouchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display:none;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #fff;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 13px;
    }
    a.ui-state-hover, a.ui-state-active, a.ui-state-focus {
      background-color: #FFFCB2;
    }
  }
} 

.remove_fields {
position:relative;
left:300px !important; 
}
.autocomplete{
margin-top:30px !important;
margin-bottom:5px !important;
}

.outer_block{
/*display: inline-block;*/
}
.outer_container{
margin-top: 100px;
width:38%;
height:400px;
border:solid 1px black;
float: left;
}
div.voucher_heading{
text-align: center;
padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom:dotted 1px black;
}
.voucher_content {
height:398px; 
overflow: auto;
  .assigned_vouchers:hover {
      background-color:#e6e6fa;
    }

}

.assigned_vouchers {
  margin-left: 2px;
  margin-top: 5px;
  margin-right: 2px;
border:solid 1px black;
  background-color:#f5f5f5 ;



}

.assigned_vouchers:hover {
cursor: pointer;

}
#tag_cloud {
  font-weight: bold;
border: solid 1px black;
  margin-left: 1%;
  height:400px;
  width:38%;
  display: inline-block;
  margin-top: 100px;
    .s { font-size: 1.2em;
      color:#837e7e;
     }
  .m { font-size: 1.9em;
  color:#5f5959; }
  .l { font-size: 2.5em; 
    color:#363131;}
  .v {font-size:  2.8em;
  color:#000000; }
  div.voucher_tags{
    border: dotted 1px black;
    height:340px;
    overflow: auto;
    padding-top: 30px;
  
    div.tagname{
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom:11px;
     }
    }
}
#voucher_count{
  font-weight: bold;
  border: solid 1px black;
  float: right;

  height:400px;
  width:21%;
  display: inline-block;
  margin-top: 100px;
} 
.error_messages{
height: auto;
width:100%;
}
#myCanvasContainer{

position: relative;
top:-30px;
left :-30px;

}
.voucher_count {
  .voucher_label{
    text-align: left !important;
    padding-right: 0px !important;
    margin-right: -79px;
    font-size:20px;
    padding-top: 20px;
  }
border: dotted 1px black;
padding-top:20px;
height:350px;
overflow: auto;
font-size: 20px !important;
text-align: center;

.voucher_contents{
margin-left: 86px !important;
width:100px;
font-size:18px;
}
}
.voucher_id,.voucher_amount,.voucher_state ,.voucher_debit,.voucher_credit {
  word-wrap:break-word;
  border-bottom:dotted 1px gray;
label {
margin:0 auto !important;
}

  
}
 .voucher_state{
 border-bottom:none !important;
 }
div.voucher_label{
    padding-left: 20px;
    font-weight: normal;
  font-size: 14px;
font-weight: bold;
width:70px !important;
padding-right: 10px;
  display: inline-block !important;
  padding-bottom: 1px;
  }
  div.voucher_contents{

    font-size: 14px;
    display: inline-block !important;


  }



.add_on {
  margin-left: -4px;
  font-size:15px;
  font-weight:bold;
}
.comment_panel {
  position: relative;
  top: -55px;
  padding-left: 0px;
}
.status_label {
  margin-top: 5px;
  border-top: dotted 1px black;
}
.approved_by,.accepted_by ,.created_by{ 
padding-top: 18px; 
  width:auto;
  margin-left: -2px;
  font-size: 14px;
  
  padding-left: 28px;
  display: inline-block;
}
.approved_label,.accepted_label,.created_label{
  font-size: 12px;
  margin-top: 5px;
  margin-left: 7px;
  font-weight: bold;
}
.filename{
  width:120px;
}
.symbol {
  position: absolute;
  left:880px;
  display: inline-block;
}
.transaction_label{
width:50px;
}
.bank_amount{
}
.caption{
  position: absolute;
  left:400px;
  font-size: 14px !important;
  margin-left: 20px !important;
}
.assignment{
float:right;
margin-right: -250px;
  padding-bottom: 30px;

  margin-left: 20px;

  padding-left: 30px;
  padding-right: 20px;
  position: relative;
  top:70px;
}
.tags{
  padding-top: 15px;
  padding-left: 20px;

  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
 a.taglist {
  width:30px;
  height:10px;
  background-color: #f5f5f5;
  padding:5px;
  border: dotted 1px grey;
  border-radius: 5px;
  margin-left: 10px;
}
.approval_button {
  margin-top: -12px;
  margin-left: -12px;
}
.accounts{
  position:absolute;
  top:135px;
  right:10px;
  left:20px;

}
.headings {
  padding-bottom: 25px;
border-bottom:1px solid #eeeeee;
}
.heading{
  float:right !important; 
  width:auto;
  font-size:30px;
  font-style:italic;
  padding-right:20px;
  font-weight:bold;
}
.compulsory-field:after {
  content: "*";
  display: inline;
  clear: both;
  color: red;
}

.buttons{
  color: #dfd;
  background: #0000cc;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
.remove_bill {
  position:relative;
  left :755px;
  width : 100px;
}
.bill_attachment{
  position:relative;
  left:-70px;
  margin-left:30px;
}
.addFields {
  position:relative;
}
.content{
  background-color: #f6fbff;
  float:left;
  height:50px;
  width:auto;
  margin-top: -55px;
  margin-left: 20px;
  border:solid 1px black;
  display:inline-block;
}
.voucherId{
  text-align: center;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
}
.status{
  margin-top: -25px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: -50px;
  float: right;
  padding-right: 530px;
}
.date{
  /*position: absolute;
  left:30px;*/
  float:right;
 padding-right: 30px;
  margin-top: -25px;
  width:150px;
  font-size: 18px;
  font-weight: bold;
  padding-right: 30px;
  margin-bottom: -20px;

}
.separator{
  border-top: dotted 1px black;
 
}
.radioBox a {
  color:blue;
}
.debitCredit ,.payment_mode,.status_label,.date_period,.tags {
position: relative;
top:-55px;
}
.debitCredit {
  margin-left: 20px;
  width:590px;
  padding-left: 10px;
  font-size: 14px;
  span{
padding-left: 5px;
padding-right: 5px;
  }

}
.column_separator {
  width:830px;
  border-right: dotted 1px black;
  margin-bottom: -290px;
  padding-bottom: 160px;
}
.row_separator {
  margin-top: 10px;
  width:830px;
  border-top: dotted 1px black;
}
.payment_mode {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width:590px;
  padding-left: 10px;
  font-size: 14px;
}
.edit_voucher{
  float:right;
 display:inline-block;
    float: right;
  position:relative;
  top:29px;
  padding-left:10px;
}
.print_voucher{
  float: right;
  display:inline-block;
  position:relative;
  bottom:-29px;

  .btn {
    width: 50px !important;
  }
}

.labels{
  padding-right: 20px;
  font-size: 15px;
  font-weight: bold;  
  padding-top: 10px;
  margin-bottom: 2px;
}
.payment_label{
  display: inline-block;
  padding-right: 5px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.voucher_display{
  background-color: #fafdff;
    -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  
  width:1100px;
  /*margin-left: 75px;
  margin-right: 150px;*/
  margin: 0 auto;
  border: solid 1px black;
  margin-top: 80px;
padding-top: 69px;
  padding-bottom: 70px !important;
  overflow:hidden;
  select {
    width:210px;
  }
}
.date_period {
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  width:600px;
}
.date_field{
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 10px;
}
.payment{
  float:left;
  margin-left: 830px;
  height:30px;
  width:268px;
  border-bottom: dotted 1px black;
  margin-top: 25px;
padding-bottom: 15px;
}
.assign{
  margin-left: 60px;
  margin-top: 10px;
}
.assignn{
  margin-left: 65px;
  margin-top:30px;
}
.dropDown {
 margin-top: -10px;
}
.amount{
 /* display: inline-block;
  position: absolute;
  right: 100px;
  top:-25px;

*/
  padding-left: 80px;  
  font-size: 23px;
  font-weight: bold;
padding-bottom: 30px;
}
.all_vouchers{

height:14px;

}
.user {
margin: 0 auto;
text-align: center;
}
h3,h2{
line-height: 1px;
}
.add_more_uploads{
position:relative;
left:47%;

}
/*.associated_voucher{
position: relative;
top:15px;
}*/

.final_state{
float: right;
margin-top:-10px;
margin-right: -200px;
height: 40px;
}
.uploaded_links {
  position: relative;
  left:30px;
}
.Or_label{
  margin-top: 30px;
  margin-left: 80px;
 margin-bottom: -10px;
  font-size: 20px;
  font-weight: bold;
}
.reports {
padding:10px;
  width:755px;
  margin:0 auto;
  height:250px;
  background-color: #f5f5f5;
    -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
}
.report {
  width:760px;
  margin: 0 auto;
    .control-label{
      display:inline-block;
      font-size: 20px;
      font-weight: bold;

    }
 .control-group{
width:375px;
  display: inline-table !important;
}
  .controls{
    display: inline-block;
    
  }
  .display_vouchers{
float: left;
margin-left: 49%;
  }

 .control-label{
width:81px;
text-align: right;
 }
}
.voucher_report{
  position: absolute;
  top: 400px;
}
.voucher_form{

  width:68%;
  background-color: #f6fbff;
  margin: 0 auto;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  legend {
    border-bottom:solid 1px black;

    font-size: 20px;
    font-weight: bold;
    text-align:center;
  }

  .labell, .contentt {
    width:47% !important;
    text-align: center !important;
    display: inline-block;
    padding-bottom:10px;
    label {
      font-size:16px;
      font-weight:bold;

    }
  }

  .credit, .debit {
    position:relative;
    bottom:100px;
    font-size:20px;
    font-weight:bold;

  }

  .bank_amount {
    position:relative;
    right:25%;
    width:116%;
    padding-top:2px;
    padding-bottom:3px;
    .transaction_label {
      padding-right:50px;
      width:auto;
    }
    input, select {
      padding-left:50px;
    }

    .amount_label {
      position:relative;
      left:-30px;
    }

    .amount {
      position:relative;
      left:-35px;
    }
    .select_payment {
      position:relative;
      left:-47px; 
      select {
        width:200px !important;
      }
    }
    .reference {
        width:150px !important;
        position:relative;
        left:-35px;
    }

  }


}
.addFields {
  position:relative;
  left:300px;
  width:471px;

}

.add_more_uploads {
  position: relative;
left: 47%;
padding-bottom: 2px;
width:668px;


}

.comment_fields {
  a {
    position:relative;
    left:53%;


  }

}

.fileFields {
  padding-bottom:20px;
}
.fileFields > a {
    position:relative;
    left:160px;
    padding-bottom:20px;
}

.account_form {

}

.counterr {
  position: relative;
top: -115px;
font-size: 16px;
font-weight: bold;
}


.tagslist {
  position:relative;
  left:215px;

}

.debit_separator {
  border: dotted 1px black !important;
  position:relative;
  bottom:50px;
}