// Place all the styles related to the vouchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
display:none;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #fff;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 13px;
    }
    a.ui-state-hover, a.ui-state-active, a.ui-state-focus {
      background-color: #FFFCB2;
    }
  }
} 
.assignment{
position:relative;
bottom:100px;
left:990px;
}
.accounts{

position:absolute;
top:90px;
right:10px;}
.heading{
float:right !important; 
width:auto;
font-size:30px;
font-style:italic;
padding-right:20px;
font-weight:bold;
}
.voucher_form {
 margin: 0 auto;
 width:600px;
fieldset {
background: #e6e6fa;
legend {
color: #dfd;
background: #0000cc;
font-family: sans-serif;
}
}

form {

label {
width: 3em;

float: left;
text-align: right;
padding-top: 0.2em;

display: block;
}
select, textarea, input {
margin-left: 0.5em;
}
.submit {
margin-left: 4em;
}
br {
display: none
}
}
}
.buttons{
color: #dfd;
background: #0000cc;
font-family: sans-serif;
padding: 0.2em 1em;
}
.remove_bill {
position:relative;
left :425px;
width : 100px;
}
.bill_attachment{
position:relative;
left:-70px;
margin-left:30px;
}
.addFields {
position:relative;
}