<div class="page-header">
   <h2><%= "USERS" %></h2>
</div>
<div class="new_button">
  <%= link_to "New",new_admin_user_path,:class => 'btn new_button btn-primary' %>
</div>

<div class ="users">
  <%= render :partial => 'user' ,locals: { :@users => @users} %>
</div>