<div class="headings">
  <% #FIXME_AB: Why we need erb tag here? -%>
  <h2>Users</h2>
</div>
<div class="new_button">
  <%= link_to "New", new_admin_user_path, :class => 'btn new_button btn-primary' %>
</div>

<div class ="users">
  <%= render :partial => 'user', locals: { :@users => @users} %>
</div>