<% #FIXME_AB: HTML indentation is weired -%>
<div class="headings">
  <h3> Accounts </h3>
</div>
<div class = "new_button">
  <%= link_to "New", new_account_path, :class => 'btn new_button btn-primary' %>
</div>

<div class = "accounts">
  <%= render :partial => 'account', locals: { :@accounts => @accounts} %>
</div>
