<% #FIXME_AB: why following assignment. Also it is Account not Voucher, so be careful while copying and pasting  -%>
<%- model_class = Voucher -%>
<div class="page-header">
</div>
 
<%= render :partial => 'form' %>
