<%= render partial: 'layout' %>
<div class = "span9 associated_voucher">
  <ul class="nav nav-tabs"> 
    <div class ="voucher_status">
      <%= render :template => 'vouchers/index' , locals: { :params => { account_id:@account.id}, :@vouchers=> @account.vouchers_debited.New.page(params[:page]).per(10)}  %>
     </div>
  </ul>
</div>


