<div>
	<p class ="radioBox link controls">
	  <%= f.file_field :bill_attachment, :id=> "file" + @counter.to_s %>    
	  <%= link_to_remove_fields "Remove", f %>
	</p>
	<p class ="radioBox link controls tagname">
	  <%=f.text_field :tagname, :class=>"filename" , placeholder: "caption"  %>
	</p>
</div>