<div class = "span9  associated_voucher">
  <ul class="nav nav-tabs">
  	<%= render "shared/voucher_status_tabs", :params => {from: start_date.to_date ,to: end_date.to_date} %>   
    <div class="voucher_status">
      <%= render :template => 'vouchers/_vouchers' , locals: { :@vouchers=> get_new_by_date(Date.today.beginning_of_month(),Date.today.end_of_month())}  %>
    </div>
  </ul>
</div>