<%- model_class = Voucher -%>
<div class="page-header">
</div>
<table>
   <tbody>
    <%=paginate @vouchers%>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td>
          <div class="control-group">
            <%= label_tag :voucher,"Voucher Number #{voucher.id}",  :class => 'control-label' %>
          </div>
        </td> 
        <td>
          <div class='btn'>
            <%= link_to "view", voucher %>
          </div>
          <div class="btn">
            <%= link_to 'Destroy', voucher, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
   </tbody>
 </table>