<%- model_class = Voucher -%>
<div class="page-header">
</div>
 <div class="accounts">
 	<div class="btn">
 		<%= link_to "manage accounts" , new_account_path%>
 	</div>
 </div>
<%= render :partial => 'form' %>
